[Desktop Entry]
Name=vexview
Comment=Modern & Minimalistic Image, Video and Audio Viewer & Editor for Linux
Exec=vexview %U
Terminal=false
Type=Application
Icon=vexview
Categories=Graphics;Photography;Viewer;Video;Audio;AudioVideo;
MimeType=image/png;image/jpeg;image/webp;image/svg+xml;image/gif;image/bmp;image/avif;image/tiff;video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;audio/mpeg;audio/x-wav;audio/wav;audio/flac;audio/aac;audio/ogg;audio/mp4;audio/opus;audio/x-ms-wma;audio/x-aiff;audio/midi;
Keywords=image;photo;picture;viewer;editor;video;player;audio;music;sound;trim;crop;convert;compose;
StartupNotify=true
Actions=NewWindow;

[Desktop Action NewWindow]
Name=Open New Window
Exec=vexview
