.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-canvas);
  position: relative;
  overflow: hidden;
}

.mainArea {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}
